@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

/* 
font-family: 'Open Sans', sans-serif; 400
font-family: 'Poppins', sans-serif; 400 600
*/

:root {
  --primary-color: hsl(257, 40%, 49%); /* Violet */
  --secondary-color: hsl(300, 69%, 71%); /* Soft Magenta: */
  --light-color: #f5f5f5; /* Grey Lighten */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Base Styles */
body {
  background: url("../images/bg-desktop.svg");
  background-size: auto;
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

h1 {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

header {
  margin-top: 3.5rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* Classes */
.main-container {
  margin-top: 5.05rem;
}

/* Header */
header .logo {
  max-width: 210px;
}

/* Image Container */
.img-container {
  animation-name: growslow;
  animation-duration: 5s;
  animation-iteration-count: 3;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

/* Info Container */
.info-container {
  color: var(--light-color);
}

.info-container h1 {
  font-size: 2.46rem;
}

.info-container p {
  font-size: 1.115rem;
  margin-top: 1.4rem;
  line-height: 1.6;
  margin-right: 0.6rem;
}

.info-container a {
  background-color: var(--light-color);
  color: var(--primary-color);
  border-radius: 30px;
  box-shadow: 4px 4px 18px -6px hsl(257, 40%, 5%);
  font-size: 1.25rem;
  margin-top: 1.6rem;
  padding: 1rem;
  width: 200px;
  transition: all 1s ease-in-out;
}

.info-container a:hover {
  background-color: var(--secondary-color);
  color: var(--light-color);
  transform: rotateY(360deg);
}

.info-container a:active {
  background-color: var(--light-color);
  color: var(--primary-color);
  transform: scale(0.9);
}

/* Animation */
@keyframes growslow {
  0% {
    transform: scale(0.5);
  }

  20% {
    transform: rotateY(180deg);
  }

  75% {
    transform: rotateX(20deg);
  }

  100% {
    transform: rotateX(0) scale(1);
  }
}

/* Media Queries */
/* Tablets and Under */
@media (max-width: 768px) {
  body {
    background: url("../images/bg-mobile.svg");
    background-size: cover;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
  }
}
/* Mobile */
