@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

/* 
font-family: 'Open Sans', sans-serif; 400
font-family: 'Poppins', sans-serif; 400 600
*/

:root {
  --primary-color: hsl(257, 40%, 49%); /* Violet */
  --secondary-color: hsl(300, 69%, 71%); /* Soft Magenta: */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Base Styles */
body {
  background: url("../images/bg-desktop.svg");
  background-size: auto;
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

h1 {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

header {
  margin-top: 3.5rem;
}

/* Classes */
.main-container {
  margin-top: 5.05rem;
}

/* Header */
header .logo {
  max-width: 210px;
}

/* Info Container */
.info-container {
  color: #f5f5f5;
}

.info-container h1 {
  font-size: 2.46rem;
}

.info-container p {
  font-size: 1.115rem;
  margin-top: 1.4rem;
  line-height: 1.6;
  margin-right: 0.6rem;
}

/* Media Queries */
/* Tablets and Under */
@media (max-width: 768px) {
  body {
    background: url("../images/bg-mobile.svg");
    background-size: cover;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
  }
}
/* Mobile */
